<h2>Mi Perfil</h2>

{% if perfil.foto %}
    <img src="{{ perfil.foto.url }}" width="120">
{% endif %}

<p><strong>Usuario:</strong> {{ request.user.username }}</p>
<p><strong>Email:</strong> {{ request.user.email }}</p>
<p><strong>Teléfono:</strong> {{ perfil.telefono }}</p>
<p><strong>Dirección:</strong> {{ perfil.direccion }}</p>
<p><strong>Rol:</strong> {{ perfil.rol }}</p>
<p><strong>Descripción:</strong> {{ perfil.descripcion }}</p>

<a href="{% url 'editar_perfil' %}">Editar perfil</a>

<hr>

{% if perfil.rol == "consumidor" %}
    <a href="{% url 'solicitar_proveedor' %}">
        Solicitar ser proveedor
    </a>
{% endif %}